@media (min-width: 1921px) {
  .redes {
    margin-right: 2px;
  }
}

@media (max-width: 1440px) {
    .redes {
        margin-right: 1px;
    }
}

@media (max-width: 425px) {
    .social_icon a {
        width: 35px;
    }

    .social_icon a img {
        width: 35px;
    }
}

@media (max-width: 320px) {
    .social_icon a {
        width: 30px;
    }

    .social_icon a img {
        width: 30px;
    }
}
